<app-navbar></app-navbar>
<div class="container mx-auto mt-16">
  <h2 class="text-center text-3xl font-bold mb-8">Programările mele</h2>
  <div *ngIf="!appointments.length">
    <p class="text-center text-gray-600">
      Momentan nu aveți nicio programare adăugată, dar vă puteți crea una cu
      unul dintre doctorii nostri specialisti .
    </p>
  </div>
  <div *ngIf="appointments && appointments.length">
    <div class="overflow-x-auto">
      <table class="min-w-full text-sm divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Data și ora
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Doctor
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Sumar
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Acțiuni
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let appointment of appointments">
            <td class="px-6 py-4 whitespace-nowrap">
              {{ appointment.appointmentDate | date : "medium" }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              Dr. {{ appointment.doctorNume }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ appointment.status || "N/A" }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ appointment.summary || "N/A" }}
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <a
                (click)="openMeetingLink(appointment.link!)"
                class="text-green-600 hover:text-green-900"
              >
                Spre sedinta
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center mt-4">
    <button
      class="px-4 py-2 rounded-md bg-green-500 text-white hover:bg-green-700 focus:outline-none"
      (click)="toggleAddAppointment()"
    >
      {{ "Adaugă Programare" }}
    </button>
  </div>

  <p-dialog
    header="Adaugă programare"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '50vw', 'max-width': '500px' }"
  >
    <form [formGroup]="appointmentForm" (ngSubmit)="addAppointment()">
      <div class="flex flex-col items-center p-4">
        <label
          for="doctorId"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Selectează Doctor:</label
        >
        <select
          formControlName="doctorId"
          (change)="onDoctorAndDateChange()"
          class="block px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 mb-4"
        >
          <option value="" disabled selected>Selectați un doctor</option>
          <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">
            Dr. {{ doctor.nume }} {{ doctor.prenume }}
          </option>
        </select>

        <label
          for="appointmentDate"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Alege Data:</label
        >
        <input
          type="date"
          formControlName="appointmentDate"
          (change)="onDoctorAndDateChange()"
          [min]="minDate"
          class="block px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mb-4"
          required
          style="
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
          "
        />

        <div class="time-slots-container mb-2">
          <button
            *ngFor="let time of availableTimes"
            type="button"
            pButton
            [ngClass]="{
              'time-slot': true,
              selected: time === selectedTimeSlot
            }"
            (click)="selectTimeSlot(time)"
          >
            {{ time }}
          </button>
        </div>
        <button
          type="submit"
          class="px-4 py-2 rounded-md bg-green-500 text-white hover:bg-green-700 focus:outline-none"
        >
          Programează-te
        </button>
      </div>
    </form>
  </p-dialog>
</div>
