@media screen and (min-width: 768px) {
  .p-col-12.p-md-6.p-lg-4 {
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

@media screen and (max-width: 767px) {
  .p-col-12.p-md-6.p-lg-4 {
    padding: 1em;
  }
}

.login-container {
  text-align: center;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}
