<div class="flex flex-col items-center justify-center p-6">
    <img src="assets/logo2.png" alt="Logo" class="mb-4 w-32 h-32" />
    <h1 class="text-4xl font-sans mb-8 text-center">Sunteți bărbat sau femeie?</h1> 
    <div class="flex justify-center gap-4 mt-4"> 
        <button class="px-8 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500" (click)="toQ3B()">Bărbat</button>
        <button class="px-8 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500" (click)="toQ3F()">Femeie</button>
    </div>
</div>