<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center">
        <a routerLink="/home" class="cursor-pointer">
          <img class="h-24" src="assets/logo2.png" alt="NutriCare Logo" />
        </a>
        <a
          routerLink="/products"
          class="ml-6 text-gray-800 hover:text-gray-600 cursor-pointer"
        >
          Produse
        </a>
      </div>

      <div class="flex items-center space-x-4">
        <button
          (click)="toQuizz()"
          class="bg-green-500 hover:bg-green-700 text-white text-sm font-medium rounded-md py-2 px-4 rounded"
        >
          Completează chestionarul
        </button>
        <div class="relative flex items-center space-x-4">
          <button
            (click)="toggleAccountDropdown()"
            class="text-gray-800 hover:text-gray-600 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>

            Contul meu
          </button>
          <div
            *ngIf="isAccountDropdownVisible"
            class="origin-top-right absolute mr-[-10px] mt-20 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-50"
          >
            <button
              (click)="signOut()"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              Delogare
            </button>
          </div>
        </div>
        <div class="relative">
          <button
            (click)="toggleDropdown()"
            class="text-gray-800 hover:text-gray-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
              />
            </svg>

            Coșul meu
            <span class="badge bg-blue-500 text-white rounded-full ml-1"></span>
          </button>

          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 mt-2 w-80 bg-white rounded-md shadow-lg z-50"
          >
            <app-cart-pop-up></app-cart-pop-up>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
