<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center">
        <a routerLink="/home" class="cursor-pointer">
          <img class="h-24" src="assets/logo2.png" alt="NutriCare Logo" />
        </a>
        <a
          routerLink="/products"
          class="ml-6 text-gray-800 hover:text-gray-600 cursor-pointer"
        >
          Produse
        </a>
      </div>

      <div class="flex items-center space-x-4">
        <button
          (click)="toQuizz()"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Completează chestionarul
        </button>
        <div class="relative flex items-center space-x-4">
          <button
            (click)="toggleAccountDropdown()"
            class="text-gray-800 hover:text-gray-600 focus:outline-none"
          >
            <i class="fa-solid fa-user"></i>
            Contul meu
          </button>
          <div
            *ngIf="isAccountDropdownVisible"
            class="origin-top-right absolute mr-[-10px] mt-20 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-50"
          >
            <button
              (click)="signOut()"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              Delogare
            </button>
          </div>
        </div>
        <div class="relative">
          <button
            (click)="toggleDropdown()"
            class="text-gray-800 hover:text-gray-600"
          >
            <i class="fa-solid fa-cart-shopping"></i>
            Coșul meu
            <span class="badge bg-blue-500 text-white rounded-full ml-1"></span>
          </button>

          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 mt-2 w-64 bg-white rounded-md shadow-lg z-50"
          >
            <app-cart-pop-up></app-cart-pop-up>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
