<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center">
        <a class="cursor-pointer">
          <img class="h-24" src="assets/logo2.png" alt="NutriCare Logo" />
        </a>
      </div>

      <div class="flex items-center space-x-4">
        <div class="relative flex items-center space-x-4">
          <button
            (click)="toggleAccountDropdown()"
            class="text-gray-800 hover:text-gray-600 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>

            Contul meu
          </button>
          <div
            *ngIf="isAccountDropdownVisible"
            class="origin-top-right absolute mt-24 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-50"
            style="margin-top: calc(5rem + 25px); right: -35px"
          >
            <button
              (click)="signOut()"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              Delogare
            </button>
          </div>
        </div>
        <div class="relative"></div>
      </div>
    </div>
  </div>
</nav>
