<div class="p-6 bg-white shadow-xl rounded-lg">
  <ul role="list" class="divide-y divide-gray-200">
    <li
      *ngFor="let item of shoppingCart?.items"
      class="py-4 flex justify-between items-center"
    >
      <div>
        <h4 class="text-gray-900">{{ item.productName }}</h4>
        <div class="flex items-center">
          <button
            type="button"
            (click)="decreaseQuantity(item.productId)"
            class="text-gray-500 hover:text-gray-700 p-2"
          >
            <i class="fas fa-minus-circle"></i>
          </button>
          <p class="text-gray-500 mx-3">{{ item.quantity }}</p>
          <button
            type="button"
            (click)="increaseQuantity(item.productId)"
            class="text-gray-500 hover:text-gray-700 p-2"
          >
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div>
        <p class="text-gray-900">{{ item.price }} RON</p>
        <button
          type="button"
          (click)="removeItem(item.productId)"
          class="text-red-600 hover:text-red-800 text-xs font-semibold"
        >
          Elimină
        </button>
      </div>
    </li>
  </ul>

  <div class="border-t border-gray-200 pt-4 mt-4">
    <div class="flex justify-between items-center mb-4">
      <p class="text-base font-medium text-gray-900">Subtotal</p>
      <p class="text-base font-medium text-gray-900">
        {{ shoppingCart?.total }} RON
      </p>
    </div>
    <p class="text-sm text-gray-500 mb-4">
      Transportul și taxele se calculează la finalizarea comenzii.
    </p>
    <button
      (click)="navigateToCheckout()"
      class="w-full bg-green-500 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 mb-2"
    >
      Finalizează comanda
    </button>
  </div>
</div>
