<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="-ml-2 mr-2 flex items-center md:hidden">

        </div>
        <div class="flex-shrink-0 flex items-center">
       
          <img  class="h-24" src="assets/logo2.png" alt="NutriCare Logo">
        </div>
        <div class="hidden md:ml-6 md:flex md:space-x-8">

        </div>
      </div>
      <div class="flex items-center">
        <a href="/cart" class="text-gray-800 hover:text-gray-600">
          Coșul meu
          <span class="badge bg-blue-500 text-white rounded-full ml-1"></span>
        </a>
        <a href="/account" class="text-gray-800 hover:text-gray-600 ml-6">
          Contul meu
        </a>
        <a href="/survey" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-6">
          Completează chestionarul
        </a>
      </div>
    </div>
  </div>
</nav>