<app-simplified-navbar></app-simplified-navbar>

<div class="container mx-auto mt-16">
  <h2 class="text-center text-3xl font-bold mb-8">Programările mele</h2>
  <div *ngIf="!appointments.length">
    <p class="text-center text-gray-600">
      Momentan nu aveți nici o cerere de programare.
    </p>
  </div>
  <div *ngIf="appointments && appointments.length">
    <div class="overflow-x-auto">
      <table class="min-w-full text-sm divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Data și ora
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Pacient
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Sumar
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
            >
              Acțiuni
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let appointment of appointments">
            <td class="px-6 py-4 whitespace-nowrap">
              {{ appointment.appointmentDate | date : "medium" }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ appointment.userNume }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <select
                [(ngModel)]="appointment.status"
                (change)="changeAppointmentStatus(appointment)"
              >
                <option value="Confirmată">Confirmată</option>
                <option value="Anulată">Anulată</option>
                <option value="Finalizată">Finalizată</option>
              </select>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <span class="summary-text">
                  {{ appointment.summary }}
                </span>
                <button (click)="openSummaryModal(appointment)" class="ml-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                    />
                  </svg>
                </button>
              </div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <a
                (click)="openMeetingLink(appointment.link!)"
                class="text-green-600 hover:text-green-900"
              >
                Spre sedinta
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p-dialog
  header="Editeaza sumarul"
  [(visible)]="displaySummaryModal"
  [style]="{ width: '50vw', 'max-width': '500px' }"
>
  <form (ngSubmit)="updateSummary()" class="flex flex-col items-center p-4">
    <textarea
      [(ngModel)]="currentSummary"
      name="summary"
      rows="10"
      class="w-full p-2.5 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500"
      placeholder="Scrieți sumarul aici..."
    ></textarea>
    <button
      type="submit"
      class="mt-4 px-4 py-2 rounded-md bg-green-500 text-white hover:bg-green-700 focus:outline-none"
    >
      Editeaza
    </button>
  </form>
</p-dialog>
