<div class="flex items-center justify-center min-h-screen bg-white">
  <div class="w-full max-w-md p-8">
    <div class="mb-6 text-center">
      <img
        class="mx-auto"
        src="assets/logo2.png"
        alt="NutriCare Logo"
        style="width: 150px; height: auto"
      />
    </div>

    <div class="text-center mb-8">
      <button
        (click)="backToLogin()"
        class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 bg-transparent border border-gray-300 rounded-md hover:bg-gray-100 focus:outline-none focus:border-green-500 focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
        Înapoi la autentificare
      </button>
    </div>
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onRegister()"
      class="space-y-6 bg-white"
    >
      <div>
        <label for="nume" class="block text-sm font-medium text-gray-700"
          >Nume</label
        >
        <input
          id="nume"
          type="text"
          formControlName="nume"
          required
          class="w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-green-500 focus:ring-green-500"
        />
      </div>
      <div
        *ngIf="
          registrationForm.controls.nume.invalid &&
          registrationForm.controls.nume.touched
        "
        class="text-red-500"
      >
        Numele este obligatoriu.
      </div>

      <div>
        <label for="prenume" class="block text-sm font-medium text-gray-700"
          >Prenume</label
        >
        <input
          id="prenume"
          type="text"
          formControlName="prenume"
          required
          class="w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-green-500 focus:ring-green-500"
        />
      </div>

      <div
        *ngIf="
          registrationForm.controls.prenume.invalid &&
          registrationForm.controls.prenume.touched
        "
        class="text-red-500"
      >
        Prenumele este obligatoriu.
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          required
          class="w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-green-500 focus:ring-green-500"
        />
      </div>

      <div
        *ngIf="
          registrationForm.controls.email.invalid &&
          registrationForm.controls.email.touched
        "
        class="text-red-500"
      >
        Introduceți o adresă de email validă.
      </div>

      <div>
        <label for="parola" class="block text-sm font-medium text-gray-700"
          >Parola</label
        >
        <input
          id="parola"
          type="password"
          formControlName="parola"
          required
          class="w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-green-500 focus:ring-green-500"
        />
      </div>

      <div
        *ngIf="
          registrationForm.controls.parola.invalid &&
          registrationForm.controls.parola.touched
        "
        class="text-red-500"
      >
        Parola este obligatorie și trebuie să conțină între 5 și 20 de
        caractere.
      </div>

      <div>
        <label for="varsta" class="block text-sm font-medium text-gray-700"
          >Vârstă</label
        >
        <input
          id="varsta"
          type="number"
          formControlName="varsta"
          required
          class="w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-green-500 focus:ring-green-500"
        />
      </div>

      <div
        *ngIf="
          registrationForm.controls.varsta.invalid &&
          registrationForm.controls.varsta.touched
        "
        class="text-red-500"
      >
        Vârsta este obligatorie și trebuie să fie un număr valid între 18 și 99.
      </div>

      <div>
        <button
          type="submit"
          [disabled]="!registrationForm.valid"
          class="w-full px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
        >
          Înregistrează-te
        </button>
      </div>
    </form>
  </div>
</div>
