<div class="flex flex-col items-center justify-center p-6">
  <img
    src="assets/logo2.png"
    alt="Logo"
    class="mb-4 w-32 h-32 slide-in-right"
  />
  <h1 class="text-4xl font-sans mb-8 text-center">
    Ati luat antibiotic in ultimele 6 luni ?
  </h1>
  <div class="flex justify-center gap-4 mt-4">
    <button
      class="text-lg px-12 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500"
      (click)="handleResponse(1)"
    >
      Da
    </button>
    <button
      class="text-lg px-12 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500"
      (click)="handleResponse(0)"
    >
      Nu
    </button>
  </div>
</div>
