<div class="flex flex-col items-center justify-center p-6">
    <img src="assets/logo2.png" alt="Logo" class="mb-4 w-32 h-32" />
    <h2 class="text-2xl font-semibold mb-4">Ne pare rău,</h2>
    <p class="text-center mb-4 max-w-prose">
        Dar pentru siguranța dvs. nu vă putem face o recomandare personalizată, deoarece acestea ar trebui să fie recomandate de către un medic în cazul dvs. Dacă aveți deja o recomandare de la medicul dvs., puteți adăuga direct produsele în coș fără a mai face chestionarul. 
    </p>
    <p class="text-center mb-4 max-w-prose">
        Iar în cazul în care nu aveți o recomandare de la un medic, vă puteți programa la o consultație online la unul dintre medicii noștri.
    </p>
    <div class="flex gap-4 mt-4">
        <button class="px-8 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500">Programează-te la un doctor</button>
        <button class="px-8 py-4 rounded-full border-2 border-gray-300 transition-colors duration-300 ease-in-out hover:border-green-500">Către produse</button>
    </div>
</div>